body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  background:
    radial-gradient(circle at 20% 30%, rgba(28, 42, 67, 0.6), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(13, 27, 50, 0.5), transparent 50%),
    linear-gradient(135deg, #071326 0%, #0e1c34 50%, #1a283f 100%);
  background-color: #0a192f;
  background-attachment: fixed;
  position: relative;
}

nav {
  width: 100%;
  height: 56px;
  background-color: #04122a;
  display: flex;
  align-items: center;
  box-shadow: 1px 5px 50px 20px #182a49;
  border-bottom: solid 1px #29487ee0;
}
.main-title {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: x-large;
  margin: 0;
  margin-left: 30px;
}

.main-section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboard-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.playerone-gameboard-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerone-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  border: #233554 20px solid;
  border-radius: 15px;
  gap: 2px;
  background-color: #04122a;
}

.playertwo-grid {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 50px);
  border: #233554 20px solid;
  border-radius: 15px;
  gap: 2px;
  background-color: #04122a;
}

.playertwo-gameboard-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-cell {
  width: 50px;
  height: 50px;
  background-color: #112240;
  z-index: 1;
}

.grid-cell:hover {
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px #64ffdb98;
  /* border-color: #64ffdbe2; */
}

.vs-wrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.vs {
  width: fit-content;
  height: fit-content;
  color: #586271;
  font-family: "Space Grotesk", sans-serif;
  font-style: italic;
  font-size: x-large;
  font-weight: 800;
  text-align: center;
}

.line {
  width: 110px;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #64ffdbe2 50%,
    transparent
  );
  transform: rotate(90deg);
}

.line.one {
  margin-bottom: 40px;
}

.line.two {
  margin-top: 40px;
}

.hit {
  display: flex;
  background-color: rgb(255, 82, 82, 0.2);
  box-shadow: 0px 0px 1px 0.7px #ffa9a9;
  color: #ffa9a9;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: large;
}

.miss {
  display: flex;
  background-color: rgb(100, 255, 218, 0.2);
  box-shadow: 0px 0px 1px 0.7px #64ffda;
  color: #64ffda;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: xx-large;
}

.fleet-section {
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.playerone-fleet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 150px;
}

.playertwo-fleet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 150px;
}

.fleet-img-0-wrapper {
  padding: 0%;
  width: calc(5 * 50px);
  height: 50px;
}

.fleet-img-0-wrapper img {
  /* height: 100%; */
  width: calc(5 * 50px);
  object-fit: fill;
  position: absolute;
}

.fleet-img-0-wrapper img:hover {
  cursor: grab;
}

.fleet-img-1-wrapper {
  padding: 0%;
  width: calc(4 * 50px);
  height: 50px;
}

.fleet-img-1-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.fleet-img-1-wrapper img:hover {
  cursor: grab;
}

.fleet-img-2-wrapper {
  padding: 0%;
  width: calc(3 * 50px);
  height: 50px;
}

.fleet-img-2-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.fleet-img-2-wrapper img:hover {
  cursor: grab;
}

.fleet-img-3-wrapper {
  padding: 0%;
  width: calc(3 * 50px);
  height: 50px;
}

.fleet-img-3-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.fleet-img-3-wrapper img:hover {
  cursor: grab;
}

.fleet-img-4-wrapper {
  padding: 0%;
  width: calc(2 * 50px);
  height: 50px;
}

.fleet-img-4-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.fleet-img-4-wrapper img:hover {
  cursor: grab;
}

.ship-layer-pleyerone {
  position: absolute;
  z-index: 10;
  width: calc(10 * 52px);
  height: calc(10 * 52px);
  inset: 0;

  pointer-events: none;
}

.ship-layer-pleyertwo {
  position: absolute;
  z-index: 10;
  width: calc(10 * 52px);
  height: calc(10 * 52px);
  inset: 0;

  pointer-events: none;
}

.ship-layer-pleyerone .img-0 {
  height: 50px;
  width: calc(5 * 50px);
  pointer-events: auto;
}
.ship-layer-pleyerone .img-1 {
  height: 50px;
  width: calc(4 * 50px);
  pointer-events: auto;
}
.ship-layer-pleyerone .img-2 {
  height: 50px;
  width: calc(3 * 50px);
  pointer-events: auto;
}
.ship-layer-pleyerone .img-3 {
  height: 50px;
  width: calc(3 * 50px);
  pointer-events: auto;
}
.ship-layer-pleyerone .img-4 {
  height: 50px;
  width: calc(2 * 50px);
  pointer-events: auto;
}

.ship-layer-pleyertwo .img-0 {
  height: 50px;
  width: calc(5 * 50px);
  pointer-events: auto;
}
.ship-layer-pleyertwo .img-1 {
  height: 50px;
  width: calc(4 * 50px);
  pointer-events: auto;
}
.ship-layer-pleyertwo .img-2 {
  height: 50px;
  width: calc(3 * 50px);
  pointer-events: auto;
}
.ship-layer-pleyertwo .img-3 {
  height: 50px;
  width: calc(3 * 50px);
  pointer-events: auto;
}
.ship-layer-pleyertwo .img-4 {
  height: 50px;
  width: calc(2 * 50px);
  pointer-events: auto;
}

.tint {
  position: fixed;
  inset: 0;
  background-color: #0a192f3d;
  backdrop-filter: blur(4px);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-screen {
  z-index: 12;
  width: fit-content;
  background:
    radial-gradient(circle at 20% 30%, rgba(28, 42, 67, 0.6), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(13, 27, 50, 0.5), transparent 50%),
    linear-gradient(135deg, #071326 0%, #0e1c34 50%, #1a283f 100%);
  background-color: #0a192f;
  /* border-radius: 10px; */
  border: 1px solid #64ffdb4b;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 3.8rem;
  margin: 30px 100px 0px 100px;
}

.title span {
  color: #64ffda;
}

.strategic-protocol {
  font-size: 1.2rem;
  word-spacing: 1px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-family: "Space Grotesk", sans-serif;
  font-style: none;
  color: #93a2b7;
  font-weight: lighter;
}

.gameplay-mode-selection {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 50px 0px 50px;
  padding: 5px;
  border: 1px solid #64ffdb22;
  /* border-radius: 10px; */
}

.gameplay-mode-selection button {
  width: 400px;
  height: 60px;
  border: none;
  background-color: #0c1d33;
  font-family: "Space Grotesk", sans-serif;
  font-size: larger;
  font-style: none;
  color: #93a2b7;
  font-weight: lighter;
  word-spacing: 1px;
  letter-spacing: 2px;
}

.gameplay-mode-selection button:hover {
  cursor: pointer;
}

.player-name-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 50px 50px 50px 50px;
}

.player-name-input-container div {
  display: flex;
  flex-direction: column;
}

.player-name-input-container div label {
  font-family: "Space Grotesk", sans-serif;
  font-size: medium;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-style: none;
  color: #93a2b7;
  font-weight: lighter;
}

.player-name-input-container input {
  width: 375px;
  height: 60px;
  background-color: #0c1c33;
  font-family: "Space Grotesk", sans-serif;
  border: none;
}

.player-name-input-container p {
  margin: 0px 0px 10px 0px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button-wrapper button {
  width: 90%;
  height: 90px;
  margin: 0px 0px 100px 0px;
  font-family: "Space Grotesk", sans-serif;
  color: black;
  word-spacing: 1px;
  letter-spacing: 10px;
  font-weight: bolder;
  font-size: x-large;
  background-color: #64ffdb;
  border: none;
  padding: 0;
  line-height: 1;
  box-shadow: 0px 0px 10px 1px #64ffdb41;
}

.button-wrapper button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 1px #64ffdb41;
}

.button-wrapper button span {
  font-size: 2.5rem;
  vertical-align: sub;
}

.player-two-input-wrapper .input-wrapper {
  position: relative;
}

.player-one-input-wrapper .input-wrapper {
  position: relative;
}

.player-one-input-wrapper .input-wrapper .fa-user {
  position: absolute;
  top: 23px;
  left: 20px;
  color: #93a2b7;
}

.player-two-input-wrapper .input-wrapper .fa-user {
  position: absolute;
  top: 23px;
  left: 20px;
  color: #93a2b7;
}

.player-one-input-wrapper .input-wrapper input {
  text-indent: 50px;
  color: #93a2b7;
  font-family: "Space Grotesk", sans-serif;
  font-size: large;
  word-spacing: 1px;
  letter-spacing: 2px;
  border: 1px solid #64ffdb2b;
}

.player-two-input-wrapper .input-wrapper input {
  text-indent: 50px;
  color: #b1bbc9;
  font-family: "Space Grotesk", sans-serif;
  font-size: large;
  word-spacing: 1px;
  letter-spacing: 2px;
  border: 1px solid #64ffdb2b;
}

.player-two-input-wrapper .input-wrapper input::placeholder {
  color: #b1bbc9;
  font-family: "Space Grotesk", sans-serif;
  font-weight: lighter;
}

.player-one-input-wrapper .input-wrapper input::placeholder {
  color: #b1bbc9;
  font-family: "Space Grotesk", sans-serif;
  font-weight: lighter;
}

.player-one-input-wrapper .input-wrapper input:focus {
  outline: none;
  box-shadow: 0 0 3px #64ffdbb7;
}
.player-two-input-wrapper .input-wrapper input:focus {
  outline: none;
  box-shadow: 0 0 3px #64ffdbb7;
}

.gameplay-mode-selection .selected {
  background-color: #64ffdb;
  color: black;
  box-shadow: 0 0 5px #64ffdbb7;
}

.player-one-input-lable {
  margin-bottom: 10px;
}

.player-two-input-lable {
  margin-bottom: 10px;
}

.start-button {
  width: 150px;
  height: 80px;
  margin-bottom: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bolder;
  word-spacing: 1px;
  letter-spacing: 3px;
  font-size: 1.4rem;
  color: #64ffdbb7;
  background-color: #0c1d33;
  border: none;
  border-radius: 10px;
}

.start-button:hover {
  cursor: pointer;
}

.ready {
  animation: glowFade 2s infinite alternate;
}

@keyframes glowFade {
  0% {
    box-shadow:
      0 0 5px #64ffdbb7,
      0 0 10px #64ffdbb7;
  }
  50% {
    box-shadow:
      0 0 15px #64ffdbb7,
      0 0 30px #64ffdbb7;
  }
  100% {
    box-shadow:
      0 0 5px #64ffdbb7,
      0 0 10px #64ffdbb7;
  }
}
